html{
  min-width: 100vw;
}

main section{
  display: flex;
  margin-top: 40px;
}

main section h3{
  width: 140px;
  text-align: center;
  position: fixed;
}

main section h3 img{
  width: 40px;
}

.category_list{
  margin-bottom: 40px;
  display: flex;
}

.category_list li{
  position: relative;
  margin-left: 15px;
}

.category_list li:first-child{
  margin: 0;
}

.category_list li a{
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 13px;
  color: #b1b1b1;
  transition: color 0.3s;
}

.category_list li.active a,
.category_list li a:hover{
  color: #000;
}

.category_list li a:hover{
  text-decoration: none;
}
