.contents_works{
  margin-right: 40px;
  margin-left: 140px;
}

@media all and (-ms-high-contrast: none){
  .contents_works{
    max-width: calc(100vw - 321px);
  }
}

.contents_list{
  display: flex;
  flex-flow: wrap;
}

.contents_list li{
  margin-bottom: 60px;
}

.contents_list li img{
  width: calc(100% - 20px);
}

.contents_list li dl{
  margin-top: 15px;
}

.contents_list li dl dt,
.contents_list li dl dd{
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 13px;
}

@media screen and (max-width:1366px){
  .contents_list li{
    margin-bottom: 60px;
    width: calc(100% / 3);
  }

  .contents_list li img{
    width: calc(100% - 20px);
  }
}

@media screen and (min-width:768px) and (max-width:1023px){
  .contents_list li{
    margin-bottom: 60px;
    width: calc(100% / 2);
  }

  .contents_list li img{
    width: calc(100% - 20px);
  }
}

@media screen and (max-width:767px){
  .contents_list li{
    margin-bottom: 60px;
    width: inherit;
  }

  .contents_list li img{
    width: 100%;
  }
}
