html{
  min-width: 100vw;
}

main section{
  display: flex;
  margin-top: 40px;
}

main section h3{
  width: 140px;
  text-align: center;
  position: fixed;
}

main section h3 img{
  width: 40px;
}

.contents_media{
  margin-right: 40px;
  margin-left: 140px;
}

@media all and (-ms-high-contrast: none){
  .contents_media{
    max-width: calc(100vw - 321px);
  }
}

.category_list{
  margin-bottom: 40px;
  display: flex;
}

.media_list{
  display: flex;
  flex-flow: wrap;
}

.media_list li{
  margin-right: 30px;
  margin-bottom: 60px;
}

.media_list li img{
  width: calc(100% - 20px);
}

@media screen and (max-width:1366px){
  .contents_list li{
    margin-bottom: 60px;
    width: calc(100% / 3);
  }

  .contents_list li img{
    width: calc(100% - 20px);
  }
}

@media screen and (min-width:768px) and (max-width:1023px){
  .contents_list li{
    margin-bottom: 60px;
    width: calc(100% / 2);
  }

  .contents_list li img{
    width: calc(100% - 20px);
  }
}

@media screen and (max-width:767px){
  .contents_list li{
    margin-bottom: 60px;
    width: inherit;
  }

  .contents_list li img{
    width: 100%;
  }
}
