@media screen and (min-width:1600px){
  .news_index ul li span:last-child{
    display: inline;
  }

  .company_index .sectionInner dl{
    width: 350px;
  }

  .company_index .sectionInner dl dt{
    float: left;
    clear: left;
    width: 85px;
  }

  .company_index .sectionInner dl dd{
    float: left;
    margin-bottom: 20px;
  }
}

@media screen and (max-width:1023px){
  html{
    min-width: 100vw;
  }

  .slider-inner-content{
    color: #fff;
    padding: 39px;
  }

  h2 p{
    font-size: 0.8rem;
    line-height: 1.5rem;
    letter-spacing: 0.12rem;
  }

  section{
    align-items: flex-start;
  }

  h3{
    min-height: inherit;
    padding: 50px 0 0 0;
  }

  a.view_more{
    display: block;
    margin: 20px 0;
  }

  .news_index .sectionInner,
  .media_index .sectionInner,
  .works_index .sectionInner,
  .company_index .sectionInner{
    display: block;
  }

  .media_index .sectionInner div,
  .company_index .sectionInner div{
    width: 100%;
  }

  .media_index .sectionInner ul{
    width: 100%;
    justify-content: flex-start;
    margin: 0;
  }

  .media_index .sectionInner ul li{
    margin-right: 50px;
  }

  .works_index .sectionInner ul li img{
    width: calc((100vw - (100vw / 2)) / 3);
  }

  .company_index .sectionInner dl dt{
    float: left;
    clear: left;
    width: 100px;
  }

  .company_index .sectionInner dl dd{
    float: left;
  }

  .company_index .sectionInner iframe{
    margin: 20px 0 0 0;
    width: 100%;
  }
}


