html{
  min-width: 100vw;
}

main section{
  display: flex;
  margin-top: 40px;
}

main section h3{
  width: 140px;
  text-align: center;
  position: fixed;
}

main section h3 img{
  width: 40px;
}

.contents_media{
  margin-right: 40px;
  margin-left: 140px;
}

.category_list{
  margin-bottom: 40px;
  display: flex;
}

.category_list li{
  position: relative;
  margin-left: 15px;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 13px;
  color: #b1b1b1;
}

.category_list li::after{
  position: absolute;
  bottom: 1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #00A291;
  transform: scale(0,1);
  transform-origin: left top;
  transition: transform .1s;
}

.category_list li:first-child{
  margin: 0;
}

.category_list li:hover::after{
  transform: scale(1,1)
}

.category_list li.active{
  color: #000;
}

.media_list{
  display: flex;
  flex-flow: wrap;
}

.media_list li{
  margin-right: 30px;
  margin-bottom: 60px;
}

.media_list li img{
  width: calc(100% - 20px);
}

@media screen and (max-width:1366px){
  .contents_list li{
    margin-bottom: 60px;
    width: calc(100% / 3);
  }

  .contents_list li img{
    width: calc(100% - 20px);
  }
}

@media screen and (min-width:768px) and (max-width:1023px){
  .contents_list li{
    margin-bottom: 60px;
    width: calc(100% / 2);
  }

  .contents_list li img{
    width: calc(100% - 20px);
  }
}

@media screen and (max-width:767px){
  .contents_list li{
    margin-bottom: 60px;
    width: inherit;
  }

  .contents_list li img{
    width: 100%;
  }
}
