* {
  font-family: 'Noto Serif JP', sans-serif;
}

html {
  font-size: 100%;
  min-width: 1024px;
}

body {
  font-size: 1rem;
}

span.hidden {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.scroll_hide{
  opacity: 0;
  transition: all 0.5s ease;
}

.scroll_show{
  opacity: 1;
  transform: none;
}
