h1{
  margin: 0;
}

html:before,
html:after,
body:before,
body:after {
  content: "";
  background: #e6e6e6;
  position: fixed;
  display: block;
  z-index: 1;
}

/* 上 */
html:before {
  height: 80px;
  width: 100vw;
  left: 0;
  top: 0;
}

/* 右 */
html:after {
  width: 50px;
  height: 100vh;
  right: 0;
  top: 0;
}

/* 下 */
body:before {
  height: 50px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

/* 左 */
body:after {
  width: 90px;
  height: 100vh;
  top: 0;
  left: 0;
}

.flame img{
  position: fixed;
  z-index: 2;
}

.flame img#mark{
  width: 50px;
  top: 20px;
  left: 20px;
}

.flame img#char{
  width: 50px;
  top: 90px;
  left: 24px;
}

.flame img#copyright{
  width: 150px;
  bottom: 30px;
  right: 50px;
}

.sp{
  display: none;
}

nav ul{
  margin: 0;
}

nav ul li{
  height: 0;
}

nav ul li a{
  height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: fixed;
  z-index: 2;
  top: 45px;
}

nav ul li a#about{
  width: 150px;
  background-image: url(../img/menu/about.svg);
  left: 105px;
}

nav ul li a#media{
  width: 70px;
  background-image: url(../img/menu/media.svg);
  left: 300px;
}

nav ul li a#works{
  width: 68px;
  background-image: url(../img/menu/works.svg);
  left: 420px;
}

nav ul li a#company{
  width: 66px;
  background-image: url(../img/menu/company.svg);
  left: 540px;
}

nav ul li a#contact{
  background-color: #00A291;
  background-image: url(../img/menu/contact.svg);
  background-position: center center;
  width: 15px;
  height: 120px;
  top: 440px;
  left: 25px;
  padding: 22px;
  border-top: 15px solid #00A291;
  border-bottom: 15px solid #00A291;
}

nav ul li a:hover{
  transition: 0.2s;
  opacity: 0.6;
}

/*
メインコンテンツ
*/
main{
  padding: 80px 50px 50px 90px;
}
